<div class="auth">
  <form class="auth__form" autocomplete="nope" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        autocomplete="nope"
        formControlName="email"
      >
      <mat-error>
        Please enter a valid email address
      </mat-error>
      <mat-error>
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Passsword</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocompleteOff
      >
      <mat-error>
        Please enter a password
      </mat-error>
      <mat-error>
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button type="button" mat-flat-button (click)="submit()">Login</button>
  </form>
</div>
